
.bvmc * H2{
    color:#000080;
}

.vmoodle-hidden{
    display:none;
    visibility:hidden;
}


.vmoodle-block_hidden{
     display:none;
    visibility:hidden;
}

.content.hidden
{
    display:none;
}

.vmoodle-tools-row * {
    display: inline;
}