



<!-- vmoodles -->
<table width="100%">
{{#vmoodles}}
    <tr>
        <td>
            <a href="{{{url}}}" target="_blank">{{shortname}} - {{fullname}}</a>
        </td>
        <td>{{{status}}}</td>
    </tr>
{{/vmoodles}}
</table>
<!-- /vmoodles -->